name: PostHog Docker Sync

on:
  schedule:
    - cron: '0 1 * * *'  # 每天凌晨1点
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # 安装 skopeo
      - name: Install skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo

      # 登录阿里云容器镜像仓库
      - name: Login to Alibaba Cloud Registry
        run: |
          echo "${{ secrets.REGISTRY_PASS }}" | docker login --username ${{ secrets.REGISTRY_USER }} --password-stdin crpi-buokw0gwl7et16ij.cn-chengdu.personal.cr.aliyuncs.com

      ####################
      # 其他服务镜像 #
      ####################

      - name: Sync PostHog App Image to TCR
        run: |
          skopeo copy --all \
            docker://docker.io/posthog/posthog:latest \
            docker://crpi-buokw0gwl7et16ij.cn-chengdu.personal.cr.aliyuncs.com/diweigao/posthog:latest
